body{
    font-family: "Segoe UI", sans-serif;
    background-color: #f4f4f4;
}

.container{
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #0d6efd;
}

.table th , .table td{
    vertial-align: middle;
    text-align: center;
}

/* ESTILO PERSONALIZADO PARA LA BARRA DE ERROR*/
#error-message {
    font-weight: bold;
    padding: 10px;
    border: 1px solid red;
    background-color: #f8d7da;
    border-radius: 5px;
}